{% extends "layout.html" %} {% block pageTitle %} Juggling-Licence - TestLab {%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Apply for a juggling license
      <span class="govuk-caption-xl">1.0.0</span>
    </h1>

    <p>
      This is a dummy service constructed with GDS styled components for learning purposes for <strong>Test Lab</strong>.
    </p>
    <p>
      It is not a real service and is not supported by a Crown Agency. 
    </p>

    <h2 class="govuk-heading-m">
      <a href="/start">Start the service.</a>
    </h2>
  </div>
</div>

{% endblock %}
